{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Basket Restaurant</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'frontpage' %}" title="Logo">
                    <img src="{% static 'images/cbrlogo.png' %}" alt="Restaurant Logo" class="img-responsive">
                </a>
            </div>

             <div class="menu text-right">
                <ul>
                    <li>
                        <a href="{% url 'frontpage' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'food' %}">Foods</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ChickenBasketRestaurant">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->



    <!-- CAtegories Section Starts Here -->
    <section class="categories">
        <div class="container">
            <h2 class="text-center">Explore Foods</h2>
        {% for i in post %}
            <a href="{% url 'category-food' %}">
            <div class="box-3 float-container">
                <img src="{{i.image.url}}" height="410" alt="Adobo" class="img-responsive img-curve">

                <h3 class="float-text text-white">{{i.name}}</h3>
            </div>
            </a>
        {% endfor %}
            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Categories Section Ends Here -->


    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="https://www.facebook.com/ChickenBasketRestaurant"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/chicken.basket.restaurant/"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="https://twitter.com/Chix_Basket"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Late Game</a></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>
</html>