{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Basket Restaurant</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'frontpage' %}" title="Logo">
                    <img src="{% static 'images/cbrlogo.png' %}" alt="Restaurant Logo" class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a href="{% url 'frontpage' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'food' %}">Foods</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ChickenBasketRestaurant">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->

    <!-- fOOD sEARCH Section Starts Here -->
   <section class="food-search text-center">
        <div class="container">
            
            <form action="" method="POST">
                {% csrf_token %}
                <input type="search" name="search" placeholder="Search for Food.." required>
                 <button class="btn btn-primary">Search</button><!-- <input type="submit" name="submit" value="Search" class="btn btn-primary"> -->
            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->



    <!-- fOOD MEnu Section Starts Here -->
    <section class="food-menu">
        <div class="container">
            <h2 class="text-center">Food Menu</h2>
            {% for i in post %}
            <div class="food-menu-box">
                <div class="food-menu-img">
                    <img src="{{i.image.url}}" height="120" alt="{{i.name}}" class="img-responsive img-curve">
                </div>

                <div class="food-menu-desc">
                    <h4>{{i.name}}</h4>
                    <p class="food-price">₱{{i.price}}</p>
                    <p class="food-detail">
                        {{i.desc}}
                    </p>
                    <br>

                    <a href="{% url 'orders' i.id %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        {% endfor %}
           
            <div class="clearfix"></div>

        </div>

    </section>
    <!-- fOOD Menu Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="https://www.facebook.com/ChickenBasketRestaurant"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/chicken.basket.restaurant/"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="https://twitter.com/Chix_Basket"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Late Game</a></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>
</html>