{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Basket Restaurant</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
          <div class="logo">
                <a href="{% url 'frontpage' %}" title="Logo">
                    <img src="{% static 'images/cbrlogo.png' %}" alt="Restaurant Logo" class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a href="{% url 'frontpage' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'food' %}">Foods</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ChickenBasketRestaurant">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->

    <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search">
        <div class="container">
            
            <h2 class="text-center text-white">Fill this form to confirm your order.</h2>

            <form  class="order" method="POST" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Selected Food</legend>

                    <div class="food-menu-img">
                        <img src="{{post.image.url}}" height="120" alt="Chicken" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h3 name="foodname">{{post.name}}</h3>
                        <p class="food-price" name="price">₱{{post.price}}</p>

                        <div class="order-label">Quantity</div>
                        <input type="number" name="quantity" class="input-responsive" required>
                        
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend>Delivery Details</legend>
                    <div class="order-label">Full Name</div>
                    <input type="text" name="fullname" placeholder="E.g. Jose Rizal" class="input-responsive" required>

                    <div class="order-label">Phone Number</div>
                    <input type="tel" name="phone" placeholder="E.g. +63*********" class="input-responsive" required>

                    <div class="order-label">Email</div>
                    <input type="email" name="email" placeholder="E.g. jose.rizal@gmail.com" class="input-responsive" required>

                    <div class="order-label">Address</div>
                    <textarea name="address" rows="10" class="input-responsive" required></textarea>


                    <button  class="btn btn-primary">Confirm Order</button>


                    <!-- <input type="submit" name="submit" value="Confirm Order" class="btn btn-primary"> -->
                </fieldset>

            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="https://www.facebook.com/ChickenBasketRestaurant"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/chicken.basket.restaurant/"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="https://twitter.com/Chix_Basket"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Late Game</a></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>
</html>